body {
    background: #faf9f4;
    padding-top: 40px;
}

.navbar-brand {
    font-family: 'Permanent Marker', cursive;
    text-transform: uppercase;
}

.row div {
    margin-top: 40px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

img:hover {
    opacity: 0.75;
}